
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
}


.homepage {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.sidebar {
    width: 250px;
    background-color: #6258eb;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
}

.sidebar h2 {
    margin-bottom: 20px;
}

.sidebar-button {
    width: 100%;
    padding: 10px 20px;
    margin: 10px 0;
    background-color: #22d357;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-size: 1.4rem;
}

.sidebar-button:hover {
    background-color: #125827;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    border-bottom: 1px solid #dee2e6;
}
.navbar-buttons {
    display: flex;
    align-items: center;
    gap: 15px; 
}
.navbar h1 {
    margin: 0;
    font-size: 1.4rem;
}
.navbar .search-bar {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    width: 200px; 
    margin-right: 10px; 
    background-color: #fff;
}


.image-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color 0.2s ease;
}

.image-button:hover {
    background-color: #dce0de; 
}

.image-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%; 
}

.logout-button {
    padding: 10px 20px;
    background-color: #22d357;
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 1rem;
}

.logout-button:hover {
    background-color: #125827;
}

.logout-button {
    padding: 10px 10px;
    background-color: #22d357;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.content {
    padding: 20px; 
    margin-top: -30px;
}

.main-content {
    height: calc(100vh - 60px); 
    overflow-y: auto; 
    padding: 20px; 
}

.media-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px; 
    justify-content: center; 
    align-items: center; 
    margin-top: 20px;
}

.media-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.media-item:hover {
    transform: scale(1.05);
}

.media-image {
    width: 150px; 
    height: 220px; 
    object-fit: cover; 
    border-radius: 8px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.media-title {
    margin-top: 10px;
    font-size: 1rem;
    color: #333;
}
