
.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #4B0082;
    font-family: Arial, sans-serif;
}

.home-header {
    font-size: 3rem;
    color: black;
    margin-bottom: 20px;
}

.home-description {
    font-size: 1.2rem;
    color: black;
    margin-bottom: 40px;
    text-align: center;
    max-width: 600px;
}

.home-links {
    display: flex;
    gap: 20px;
}

.home-link {
    background-color: #F4511E;
    color: black ;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.home-link:hover {
    background-color: #bd3e17;
}


