body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
}


.homepage {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.sidebar {
    width: 250px;
    background-color: #6258eb;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
}

.sidebar h2 {
    margin-bottom: 20px;
}

.sidebar-button {
    width: 100%;
    padding: 10px 20px;
    margin: 10px 0;
    background-color: #22d357;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-size: 1.4rem;
}

.sidebar-button:hover {
    background-color: #125827;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    border-bottom: 1px solid #dee2e6;
}
.navbar-buttons {
    display: flex;
    align-items: center;
    gap: 15px; 
}
.navbar h1 {
    margin: 0;
    font-size: 1.4rem;
}

.image-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color 0.2s ease;
}

.image-button:hover {
    background-color: #dce0de; 
}

.image-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%; 
}

.logout-button {
    padding: 10px 20px;
    background-color: #22d357;
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 1rem;
}

.logout-button:hover {
    background-color: #125827;
}

.logout-button {
    padding: 10px 10px;
    background-color: #22d357;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.profile-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.content {
    margin-top: -10px;
}

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    font-weight: bold;
    margin-bottom: 10px;
    display: block;

}

.form-group input {
    width: 20%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.save-button {
    padding: 10px 20px;
    background-color: #22d357;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 20px;
}

.save-button:hover {
    background-color: #125827;
}

.profile-message {
    margin-top: 15px;
    text-align: left;
    font-size: 0.9rem;
    color: #22d357;
}

.profile-message.error {
    color: red;
}