.thank-you-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background-color: #4B0082;
    padding: 20px;
}

.thank-you-container h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: black;
}

.thank-you-container p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: black;
}

.go-to-login-button {
    padding: 12px 20px;
    font-size: 1rem;
    color: black;
    background-color: #F4511E;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.go-to-login-button:hover {
    background-color: #E64A19;
}
