.thank-you-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background-color: #6258eb;
    padding: 20px;
}

.thank-you-container h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #ffffff;
}

.thank-you-container p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #ffffff;
}

.go-to-login-button {
    padding: 12px 20px;
    font-size: 1rem;
    color: #ffffff;
    background-color: #22d357;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.go-to-login-button:hover {
    background-color: #125827;
}
