table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    color: white;
    background-color: #9D9AE2;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #6058E3;
  }

  .export-button{
    width: 25%;
    padding: 10px 20px;
    margin: 10px 0;
    background-color: #65D166;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-size: 1.4rem;
  }

  .back-button{
    width: 10%;
    padding: 10px 20px;
    margin: 10px 0;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-size: 1.4rem;
  }
  
  .view-button{
    padding: 10px 20px;
    margin: 10px 0;
    background-color: #22d357;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-size: 1.4rem;
  }